
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div style="width:100%; display:flex;justify-content:center;align-items:center">
    <h2 class="alert-danger">Đặt hàng thành công</h2>
</div>

